@import "@shoelace-style/shoelace/dist/themes/light.css";
@import "@shoelace-style/shoelace/dist/themes/dark.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--sl-color-neutral-0);
  color: var(--sl-color-neutral-1000);
}
