@import 'tailwindcss';

@custom-variant dark (&:where([theme='dark'], [theme='dark'] *));

:root {
  --primary: var(--color-sky-500);
  --secondary: var(--color-amber-500);
  --base: var(--color-gray-50);
  --base-lighter: var(--color-gray-200);
  --bw: var(--color-black);
  --bw-inverse: var(--color-white);

  @variant dark {
    --primary: var(--color-amber-500);
    --secondary: var(--color-sky-500);
    --base: var(--color-gray-950);
    --base-lighter: var(--color-gray-800);
    --bw: var(--color-white);
    --bw-inverse: var(--color-black);
  }
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-base: var(--base);
  --color-base-lighter: var(--base-lighter);
  --color-bw: var(--bw);
  --color-bw-inverse: var(--bw-inverse);

  --shadow-t-xs: 0 -1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-t-sm: 0 -1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-t-md: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-t-lg: 0 -10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-t-xl: 0 -20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-t-2xl: 0 -25px 50px -12px rgb(0 0 0 / 0.25);
}
